*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:'kumbh sans',sans-serif
    
}

/* Container Border */
.events,.Who{
    border: 4px #fff;
    border-style:  solid; ;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-right: 0px;
    }
    
 body{
        background-image: url('/space\ .jpg');
        background-color: #cccccc;
        background-repeat: repeat;
        background-size: 80%;
       }

.navbar{
  
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: 1.2 rem;
    position:sticky;
    top:0;
    z-index: 999;


}
.navContaneur{
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 50px;

}

#navLOgo{
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-size:25px 25px;
    width: 120px;
    height: 120px;
    margin: left 0px;
   
   
}
.fa_gem{
    margin-right: 0.5rem;
}
.navbar_menu{
    display:flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navLinks{
    color:black ;
    text-decoration: solid;
    font-size: larger;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}
.navLinks:hover{
   
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}
@media screen and (max-width:960px) {
    .navContaneur{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300 px;
        padding: 0;

    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position:absolute;
       top:-1000px;
       opacity:0;
       transition: all 0.5s ease ;
        height: 50vh;
        z-index: -1; 
        background-image: url(/space\ \(1\).jpg);
        
    }
    .navbar_menu.active{
        
        top:100%;
        opacity:1;
        transition: all 0.5s ease;
        z-index: 99;
        height:50vh;
        font-size: 1.6 rem;

    }
    #navLOgo{
        padding-left: 35p;
        width=10px;
        height=10px;
       

    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ffff;

    }
    .navbarItem{
        width: 80%;
    

    }
    .navLinks{
        text-align: center;
        padding: 1rem;
        width: 150%;
        display: table;
    }
    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbar_toggle .bar{
      display: block;
      cursor: pointer;  
    }
    #mobile_menu.is-active.bar:nth-child(2){
       opacity: 0;
    
    }
    #mobile_menu.is-active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    
    }
    #mobile_menu.is-active.bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg);
    
    }
    
}
/*Main section*/

.main__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
   
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1{
    font-size: 2.5rem;
    text-shadow:0 0 2px #00eaff,0 0 30px #00eaff,0px 0px 5px #00eaff, 0 0 150px #00eaff;color:#00eaff;
    padding-left: 20px ;
}
.main__content h2{
    margin-top: 1rem;
    font-size: 1 rem;
    text-shadow:none;
    color:#fff;
    }

.main__btn{
    font-size: 1rem;
    padding :14px 32px;
    border: none;
    position: relative;

}
.main__btn a{
    position: relative;
    z-index: 2;

}
#Main_h1{
    margin-top: 20px;

}


   .main__img--container{
       text-align: center;

   }
   #main__img{
       height: 80%;
       width:80%;
   }
   
/*mobile responsive*/
@media screen and (max-width:768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300 px;
        padding: 0;

    }
    .main__container{
        text-align: center;
        margin-bottom: 4rem;

    }
    .main__content h1{
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .main__content h2{
        font-size: 2.5 rem;
    }
    
    
}
/*Who section*/
.Who{
  
    background-image: url(/space\ \(1\).jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 170vh;
    margin-left: 30px;
    margin-bottom: 200px;
   

    

}
.Who p{
     margin-top: 50px;
    align-items: center;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 1.5rem;
}
#h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff;
    text-decoration: underline;
    text-underline-position: below;
    margin-left: 70px;
}

/* Code of button From @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background:  #60b0f4;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
/*Events section*/
.events{
  
    background-image: url(/space\ \(1\).jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    margin-left: auto;
    margin-right: 50px;
    width: 170vh;
    margin-top: 100px;
}
#h1{
    font-size: 2rem;
}
#h22{
    text-decoration: underline;
    text-underline-position: below;
    margin-left: 250px;
    margin-bottom: -80px;
}
.events h1{
 color:white;   
 background-size: 100%;
 margin-bottom: 2rem;
 margin-left: 0;
 font-size: 1rem;
 text-align: left;
 margin-right: 450px;
 text-decoration: underline;
 text-underline-position: under;
 
 
}
.events__container{
    
   display: flex;
   margin: 1rem;
   margin-left: 50px;
    
}
.events__card{
    margin-left: 400px;
    align-items: center;
    margin: 2rem;
    height:500px;
    width:310px;
    border-radius: 4px;
    background-image: url('pic3\ -\ Copy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    color: black;
    font-size: 1rem;
    background-color: #bf9251;
 
}
#par{
    margin-top: 30px;
}
.events__card:nth-child(2){

    margin:1rem;
    height:500px;
    width:310px;
    border-radius: 4px;
    background-image: url('Pic2.jpg') ;
    background-size: contain ;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;

}
.events h2{
    position: absolute;
    top: 350px;
    left: 30px;
}
.events p{
    font-size: small;
    position:absolute;
    top: 380px;
    left:30px
}
.events__card button{
    color:#fff;
    padding:10px 20px;
    border:none;
    outline: none;
    border-radius: 4px;
    position: absolute;
    background-color: #00eaff;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
.events__card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
   
}
.main__img--container{
    /*background-color: #778899;*/
}

@media screen and (max-width:960px){
    #h1{
        padding-top: 300px;
        
        margin-bottom: -400px;
    }
    #h22{
        margin-left: 0px;
    }
    .events,.Who {
        
        height: 1250px;
        margin-right: 200px;
        width: 500px;
        margin-left: 0%;
     }
     .events__container{
         display: contents;
     }
    .events h1{
        
       font-size: 1rem;
        margin-top: 0rem;
        }
    .events p{
        font-size: 0.9rem;
    }
    .Who{
        align-items: center;
        
    }
    .Who p{

        align-items: center;
        margin-left: 15px;
        margin-right: 10px;
        font-size: 1rem;
    }
    #h1{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        color: #fff;
        text-decoration: underline;
        text-underline-position: below;
    }
    .Who{
        height: 60vh ;
        width: 500px;
    }
}
/*footer*/
.footer ul{
    list-style: none;
    
}
.footer li{
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
   padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding:0 15px;
}
.h3F {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position :relative;

}
.footer-col h3::before{
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: #6fecf5;
    height:2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li :not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li h4 {
    font-size: 16px;
    text-transform: capitalize;
   
    text-decoration: none;
    font-weight: 300;
  
    display: block;
   
    
}

.social-links a {
    display: inline-block;
    height: 40px;
    width:40px;
    background-color: gray;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.social-links a:hover {
    color: #24262b;
    background-color: gray;
    
}
.footer-col h4{
    color: #fff;
}
.footer-col p{
    color: #fff;
    font-size: small;
}
.footer .btn{
    color:#fff;
    border:none;
    outline: none;
    border-radius: 4px;
    background: #60b0f4;
    font-size: 1rem;
    cursor: pointer;
    width: 50px;
    margin-top: 40px;
    

}
.CE{
    font-size: medium;
}
@media(max-width: 768px){
    .footer-col{
        width:50%;
        margin-bottom: 30px;

    }

    
}
.outer_footer{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
}
